@import url("https://fonts.googleapis.com/css?family=Aladin");

body {
    background-color: #F9FF88;
    font-family: "Aladin";
    letter-spacing: 3px;
    padding-left: 50px;
}

.picbox {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

#me {
    border: 30px solid transparent;
    border-radius: 50%;
    border-image: url("nouveau.png") repeat;
}
/*@font-face {*/
/*    font-family: 'Aladin';*/
/*    src: url("https://fonts.googleapis.com/css?family=Aladin") format('woff2');*/
/*}*/

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 100px;
}

blockquote {
    background-color: antiquewhite;
    display: table;
}

p {
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    margin-left: 20px;
    background-color: antiquewhite;
}
table td {
    border: 1px solid navajowhite;
}